.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header01 {
  text-align: center;
}

.ulHeader01 {
  display: flex; 
  justify-content: center;
  list-style-type: none;
  gap: 15px 
}

.liHeader01 {
  background-color: antiquewhite;
  
}

.mainOrigin {
  height: 80vh;
  background: linear-gradient(90deg, rgba(166,218,39,1) 0%, rgba(118,121,9,0.35057773109243695) 35%, rgba(124,27,214,1) 100%);
}

.mainOrigin article {
  text-align: center;
  padding-top: 50px;
}

.footerOrigin p {
  text-align: center;
  background-color: antiquewhite;
}